In [15]:
import requests
r = requests.get("https://www.rcreit.com/")
import bs4
mypage = bs4.BeautifulSoup(r.text)
mytable = mypage.find('div')
codes = [span.text for span in mypage.select('span.w-link-txt')]

In [16]:
numbers = []
a = 22
while a < 44:
    numbers.append(codes[a])
    a += 5

In [17]:
numbers

['2', '6', '14', '30', '43']

In [4]:
caps = []
a=24
while a<=44:
    caps.append(codes[a])
    a+=5

In [5]:
import pandas as pd

In [6]:
df=pd.DataFrame(columns=['years', 'numbers', 'caps'])

In [7]:
df['years'] = [2014, 2015, 2016, 2017, 2018]
df['numbers'] = numbers
df['caps'] = caps

In [8]:
df['caps'] = df['caps'].astype('float')
df['caps'] = df['caps'] / 10

In [9]:
df['numbers'] = df['numbers'].astype('float')

In [18]:
df

   years  numbers    caps
0   2014      2.0   9.605
1   2015      6.0  22.690
2   2016     14.0  35.815
3   2017     30.0  64.953
4   2018     43.0  90.321

In [19]:
from pyecharts import Bar, Line

In [20]:
from pyecharts import Overlap

In [21]:
line= Line()
line.add('C-REITs number history', df['years'], [1,6,14,30,43], is_fill=False, line_color='#000000')

bar = Bar()
bar.add('C-REITs cap history', df['years'], df['caps'], yaxis_formatter="billion yuan")

overlap = Overlap('C-REITs history', width=1200, height=600)
overlap.add(line, yaxis_index=1, is_add_yaxis=True)
overlap.add(bar)

overlap.render('CREITsline&bars.html')

In [14]:
line= Line()
line.add('C-REITs number history', v1, v2)
line.render('linetest.html')

NameError: name 'v1' is not defined

In [ ]:
line= Line()
line.add('C-REITs number history', df['years'], [1,6,14,30,43], is_fill=False, line_color='#000000')

In [22]:
line= Line()
line.add('C-REITs number history', [2014,2015,2016,2017,2018], [1,6,14,30,43], is_fill=False, line_color='#000000')

bar = Bar()
bar.add('C-REITs cap history', [2014,2015,2016,2017,2018], df['caps'], yaxis_formatter="billion yuan")

overlap = Overlap('C-REITs history', width=1200, height=600)
overlap.add(line, yaxis_index=1, is_add_yaxis=True)
overlap.add(bar)

overlap.render('CREITsline&bars.html')